{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Quizzer' %}{% endblock %}

{% block body_content %}
<div class="row spacer">
  <div class="container">
    <div class="jumbotron">
      <h1>{{ object.title }}</h1>
    </div>

    <div class="col-sm-12">
      {{ object.body|linebreaks }}

      {% if object.quiz_set.count > 0 %}
      <div class="text-center">
        <h2>
          {% trans 'Understand the material? Take a quiz!' %}
        </h2>

        {% for quiz in object.quiz_set.all %}
        <a class="btn btn-primary btn-lg" 
          href="{{ quiz.get_absolute_url }}">
          {{ quiz.title }}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div><!-- .row spacer -->
{% endblock %}
